# Compiled code
*.pyc
*.json
*.pkl
*.png
*.swp

#data and processing dirs
__data__/
casia/
builds/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#sandbox
sandbox/

#Deprecated
_rett_recall/
__depr__/

# C extensions
*.so

# ipython nb checkpoints
*.ipynb_checkpoints

